
.div1{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div2{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div3{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div4{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div5{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div6{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div7{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div8{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div9{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div10{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div11{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 8%;
}
.div12{
    display: inline-block;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    background-color: peachpuff;
    height: 100%;
    width: 7%;
}