.main-logo{
    height: 140px;
    width: 193px;
}
.scroll-img{
    border: none;
}
.img-brands{
    height: 160px;
    width: 200px;
}
.hotel img{
    height: 150px;
    width: 100%;
}
.nav-a-tag- a:hover{
    color: red !important;
}
